@model IEnumerable<WebScraper.Models.History>

@{
    ViewBag.Title = "History";
}

<h2>History</h2>

<p>This page shows past scrapes done.</p>
<br />

<div>
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <p>@Html.DisplayFor(modelItem => item.Symbol) - $@Html.DisplayFor(modelItem => item.Price)</p>
        </div>
        <div class="col-md-4">
            <p>Scraped on: @Html.DisplayFor(modelItem => item.ScrapeTime)</p>
        </div>
        <hr />
     }
</div>
