@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<p>This web scraper was built in Visual Studio by CareerDevs student Michael DAntuono.</p>

<br />

<h5>Technologies used in this project include:</h5>
<ul>
    <li>Selenium</li>
    <li>Selenium ChromeDriver</li>
    <li>Entity Framework</li>
    <li>Microsoft SQL Server</li>
</ul>
