@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>

<br />

<h6>This web scraper was built in Visual Studio by CareerDevs student Michael DAntuono.</h6>
<p>Starting in the console stage, the scraper took a couple weeks to implemenet. 
    Using Selenium and the ChromeDriver, I was able to navigate through the Yahoo finance website, 
    log in a user, and navigate to the watchlist page and pull stock data to the console. <strong>YES!</strong></p>

<p>Next, I began creating the front end of my ASP.Net application and adding my scraper code to a button press on the /Stocks endpoint. 
    I then started getting familiar with Microsoft SQL Server. I created my stocks table in Microsoft SQL Server Manager, used the Entity Framework to connect the models to my code,
    and after a few bugs and recreations of my table, finally got my stock data pushing to the database. Lastly, I added some user functionality and made the /Stocks page an authorized route.</p>

<br />

<h5>Technologies used in this project include:</h5>
<ul>
    <li>Selenium</li>
    <li>Selenium ChromeDriver</li>
    <li>Entity Framework</li>
    <li>Microsoft SQL Server</li>
    <li>SQL Server Manager</li>
</ul>
