@{
    ViewBag.Title = "Home Page";
}

<h1><strong>Welcome to my Web Scraper</strong></h1>

<p class="lead">User must be logged in to scrape.</p>
<br />
<p>Please register if you have not already.</p>

<button class="btn btn-success">@Html.ActionLink("Scrape", "Scrape", "Home")</button>